.note {
  color: red;
  display: none;
}

body {
  font-family: "Open Sans"
}
.active {
  background: pink;
  color: white;
}
.sequencer {
  font-size: 2rem;
  width: 34rem;
  border: solid pink;
  height: 14rem;
  outline-width: 0;
}

.keyboard {
  display: inline-grid;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-bottom: 1rem;
}

.keyboard-key {
  width: 3rem;
  height: 3rem;
  border: dashed pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard-key_label {
  font-size: 1.4rem;
}