:root {
  --accent-color: rgb(204, 107, 204);
}

body {
  font-family: monospace;
  color: rgb(75, 75, 75);
  width: 50.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 1.6rem;
  margin: .4rem 0;
  color: rgb(54, 54, 54);
}

main {
  flex-grow: 2;
  flex-direction: column;
  display: flex;
}

.sequencer {
  resize: vertical;
  margin: 1.2rem 0;
  font-size: 1.6rem;
  font-family: inherit;
  width: 100%;
  flex-grow: 2;
  box-sizing: border-box;
  border: .5rem solid pink;
  padding: .5rem;
}

.keyboard {
  display: inline-grid;
  row-gap: .75rem;
  column-gap: .75rem;
}

.keyboard-key {
  width: 3.5rem;
  height: 3.5rem;
  border: .25rem dashed pink;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border .5s;
  box-sizing: border-box;
}

.active {
  background: var(--accent-color);
  color: white;
  border: .75rem solid var(--accent-color);
  transition: border 0s;
}

.keyboard-key_label {
  font-size: 1.4rem;
}

.button-play-pause,
.button-demo {
  height: 3rem;
  padding: 0 2rem;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  background: var(--accent-color);
  border: none;
  box-shadow: .5rem .5rem .00rem 0 rgb(243, 206, 212);
  transition: .1s;
  font-family: inherit;
  text-shadow:
    .1rem .1rem .4rem rgb(3,3,3, 0.3);
}

.button-play-pause:active,
.button-demo:active {
  transform: translate(.5rem, .5rem);
  box-shadow: 0 0 0 0;
}

.button-demo {
  margin-left: 1rem;
  background: rgb(43, 168, 168);
  box-shadow: .5rem .5rem .00rem 0 rgb(177, 216, 216);
}

footer {
  margin-top: auto;
  padding: 2rem 0;
}
